@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5 - Home Page";
}


<h2>Name: Trevor Heath</h2>
<!-- picture of me doing something I enjoy... aka Snowboarding -->
<img style="max-height:200px; margin: 15px;" src="img/20220318_132331.jpg" alt="I like going snowboarding with friends!" />
<hr />
<!-- type out a paragraph about desired outcome for IS413 -->
<h4>What I hope to get out of IS 413:</h4>
<p>
    I think learning coding at the Enterprise level is really important so I want to prepare to work in
    the industry and become aware of common issues in the workplace and how to mitigate problems stemming from them.
</p>
<hr />
<!-- List of top 3 jobs I want post graduation  -->
<h4>Top 3 jobs I want post graduation:</h4>
<ul>
    <li>Full-Stack Developer</li>
    <li>Front End Developer</li>
    <li>Data Analyst</li>
</ul>
<hr />        
