/*set a background color*/
body {
    background-color: darkslategrey;
}

/*make the inputs look nicer*/
.inputField {
    padding: 5px;
    border: 0;
    margin: 5px 0;
    box-shadow: 0 0 15px 4px #d1d1d1;
    border-radius: 5px;
}

/*have a set label size so the inputs lign up*/
label {
    width: 200px;
}

/*have a centered element of a fixed size that looks nice*/
.middle {
    width: 700px;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 15px 15px black;
    padding: 15px;
}

/*center the text inside the "middle" box*/
.center {
    margin:auto;
    width:75%;
}

button {
    margin: 10px;
    border-radius: 5px;
    border-color: #d1d1d1;
}

button:hover {
    background-color: #d1d1d1;
}